<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

  <!-- Log directory path and application name -->
  <property name="LOG_PATH" value="D:/GITHUB/logs/" />
  <springProperty scope="context" name="APPLICATION_NAME" source="spring.application.name" />

  <!-- Rolling File Appender -->
  <appender name="FILE_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOG_PATH}${APPLICATION_NAME}-${HOSTNAME:-localhost}.%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>50MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Root Logger -->
  <root level="INFO">
    <appender-ref ref="FILE_APPENDER" />
  </root>

</configuration>